<div class="row-fluid">
		<div class="span12">
			<div class="page-header">
				<h1>wOBA Calculator</h1>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span3">
			<h3>How to use the wOBA Calculator</h3>
		</div>
		<div class="span6">
			<div class="center hero-unit">
				<%= form_tag('/wobacalculate') do %>
				    <%= label_tag(:ab, "At Bats") %>
					<%= text_field_tag(:ab) %><br />
					<%= label_tag(:bb, "Walks") %>
					<%= text_field_tag(:bb) %><br />
					<%= label_tag(:ibb, "Intentional Walks") %>
					<%= text_field_tag(:ibb) %><br />
					<%= label_tag(:hbp, "Hit by Pitch") %>
					<%= text_field_tag(:hbp) %><br />
					<%= label_tag(:single, "Singles") %>
					<%= text_field_tag(:single) %><br />
					<%= label_tag(:double, "Doubles") %>
					<%= text_field_tag(:double) %><br />
					<%= label_tag(:triple, "Triples") %>
					<%= text_field_tag(:triple) %><br />
					<%= label_tag(:hr, "HR") %>
					<%= text_field_tag(:hr) %><br />
					<%= label_tag(:sf, "Sacrifice Flies") %>
					<%= text_field_tag(:sf) %><br />
					<%= submit_tag("Calculate") %><br />
					<%= text_field_tag(:r, @result, :disabled => true) %>
				<% end %>
			</div>
		</div>
		<div class="span3">
			<h3>wOBA Ratings Table</h3>
			<p>From <a href = "http://www.fangraphs.com/library/offense/woba/">Fangraphs</a></p>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Rating</th>
						<th>wOBA</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Excellent</td>
						<td>.400</td>
					</tr>
					<tr>
						<td>Great</td>
						<td>.370</td>
					</tr>
					<tr>
						<td>Above Average</td>
						<td>.340</td>
					</tr>
					<tr>
						<td>Average</td>
						<td>.320</td>
					</tr>
					<tr>
						<td>Below Average</td>
						<td>.310</td>
					</tr>
					<tr>
						<td>Poor</td>
						<td>.300</td>
					</tr>
					<tr>
						<td>Awful</td>
						<td>.290</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>