<div class="row-fluid">
		<div class="span12">
			<div class="page-header">
				<h1>wRAA Calculator - Simple Version</h1>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span3">
			<div class="page-header">
				<h3>What does wRAA mean?</h3>
			</div>
			<div class="center hero-unit">
				<p>Weighted Runs Above Average (or wRAA for short) tells the number of offensive runs a player contributes to their team compared to the average player.</p>
			</div>
			<div class="page-header">
				<h3>What is the equation for wRAA?</h3>
			</div>
			<div class="center hero-unit">
				<p>wRAA = ((wOBA - league wOBA) / wOBA scale) * PA</p>
				<small>league wOBA and wOBA scale are constants</small>
			</div>
			<small>Information from <a href ="http://www.fangraphs.com/library/offense/wraa/">Fangraphs</a></small>
		</div>
		<div class="span6">
			<div class="center hero-unit main">
				<%= form_tag('/wraascalculate') do %>
					<%= label_tag(:pa, "Plate Appearances") %>
					<%= text_field_tag(:pa) %><br />
				    <%= label_tag(:woba, "wOBA") %>
					<%= text_field_tag(:woba) %><br />
					<%= submit_tag("Calculate") %><br />
					<%= text_field_tag(:r, @result, :disabled => true) %>
				<% end %>
			</div>
		</div>
		<div class="span3">
			<h3>wRAA Ratings Table</h3>
			<p>From <a href = "a href ="http://www.fangraphs.com/library/offense/wraa/">Fangraphs</a></p>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Rating</th>
						<th>wRAA</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Excellent</td>
						<td>40</td>
					</tr>
					<tr>
						<td>Great</td>
						<td>20</td>
					</tr>
					<tr>
						<td>Above Average</td>
						<td>10</td>
					</tr>
					<tr>
						<td>Average</td>
						<td>0</td>
					</tr>
					<tr>
						<td>Below Average</td>
						<td>-5</td>
					</tr>
					<tr>
						<td>Poor</td>
						<td>-10</td>
					</tr>
					<tr>
						<td>Awful</td>
						<td>-20</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span4">
			<h2 class = "main">Career wRAA Leader</h2>
			<div class="center hero-unit leader yankees">
				<p>Babe Ruth (1914-1935)<br />Career wRAA: 1437.2</p>
			</div>
		</div>
		<div class="span4">
			<h2 class = "main">Single-Season wRAA Leader</h2>
			<div class="center hero-unit leader yankees">
				<p>Babe Ruth (1920) - New York Yankees<br />121.1</p>
			</div>
		</div>
		<div class="span4">
			<h2 class = "main">2013 Season wRAA Leader</h2>
			<div class="center hero-unit leader tigers">
				<p>Miguel Cabrera - Detriot Tigers<br />54.1</p>
			</div>
		</div>
	</div>