<header class="navbar">
	<div class = "navbar-inner">
		<div class = "container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </a>
			<%= link_to "WAR CALCULATOR", root_path, id: "logo" %>
			<div class="nav-collapse collapse navbar-responsive-collapse">
				<ul class="nav pull-right">
					<li><%= link_to "Home",    root_path %></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Calculate<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li class = "fat"><%= link_to "Batter WAR", batter_war_path %></li>
							<li class="divider"></li>
							<li class = "fat"><%= link_to "Pitcher WAR", pitcher_war_path %></li>
						</ul>
					</li>
					<li><%= link_to "About WAR",    about_path %></li>
				</ul>
			</div>
		</div>
	</div>
</header>